AWS_ACCOUNT_ID=""
CRYPTO_SALT="salt"
CRYPTO_SECRET="pass"
DOPPLER_CONFIG="dev"
DOPPLER_ENVIRONMENT="dev"
DOPPLER_PROJECT="adhan-slack-app"
MONGODB_ATLAS_PRIVATE_KEY=""
MONGODB_ATLAS_PUBLIC_KEY=""
MONGODB_URI="mongodb+"
SLACK_CLIENT_ID=""
SLACK_CLIENT_SECRET=""
SLACK_SIGNING_SECRET=""
SLACK_STATE_SECRET="secret"
STAGE="dev"
