CRYPTO_SALT="salt"
CRYPTO_SECRET="pass"
MONGODB_URI="mongodb://localhost:27017/adhan-slack-db"
SLACK_CLIENT_ID="xxxxxxxxxxxxxxxxxxxxxxxxxxx"
SLACK_CLIENT_SECRET="xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx"
SLACK_SIGNING_SECRET="xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx"
SLACK_STATE_SECRET="secret"