CRYPTO_SALT="salt"
CRYPTO_SECRET="pass"
DOPPLER_CONFIG="dev"
DOPPLER_ENVIRONMENT="dev"
DOPPLER_PROJECT="adhan-slack-app"
MONGODB_URI="mongodb://localhost:27017/prayer-slackbot"
SLACK_CLIENT_ID="4197780690837.4448318836038"
SLACK_CLIENT_SECRET="011220832b9d75b3327b85885e128af7"
SLACK_SIGNING_SECRET="987e3bd81729bf71c16ef5b3cae9562a"
SLACK_STATE_SECRET="secret"